@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 62.5%;
}
.result,.age{
    font-size: 1.4rem;
    /* border: 1px solid rgba(0, 0, 0, 0.185); */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: .5rem -5rem; */
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
input{
    width: 20rem;
    height: 3rem;
    border-radius: .6rem;
    border: 1px solid rgba(0, 0, 0, 0.212);
    outline: none;
    padding: .2rem .5rem;
}
input:focus{
    border: 1px solid rgba(0, 0, 0, 0.637);
}
input::-webkit-inner-spin-button{
    display: none;
}
input::-webkit-outer-spin-button{
    display: none;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.continer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
    width: 30rem;
    background-color: rgb(207, 206, 206);
    /* margin-left: 40%;
    margin-right: 40%; */
    border-radius: 1rem;

}
button{
    font-size: 1.5rem;
    background-color: rgb(113, 43, 226);
    border: none;
    padding: 1rem 2rem;
    border-radius: .6rem;
    color: #fff;
    cursor: pointer;
}
button:active{
    transform: scale(.95);
    background-color: rgb(96, 38, 190);
}
.data{
    border: 1px solid rgba(0, 0, 0, 0.336);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: .6rem;
}